body {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-box h1 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bolder;
    color: #000;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.login-box input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.login-box input:focus {
    border-color: #007bff;
}

.login-box button {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-box button:hover {
    background-color: #0056b3;
}

.extras {
    margin-top: 20px;
}

.extras a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

.extras a:hover {
    text-decoration: underline;
}